@model Actor
@{
    ViewData["Title"] = "Add New Actor";
}

<div class="container">

    <div class="row mb-3">
        <div class="col-12">
            <h2 class="mb-3">Add New Actor</h2>
        </div>
        <div class="col-12 d-flex justify-content-between align-items-center">
            <a asp-area="Admin" asp-controller="Actors" asp-action="Index" class="btn btn-secondary">
                <i class="bi bi-arrow-left"></i> Go Back
            </a>
        </div>
    </div>

    <div class="row mt-3">
        <form method="post" enctype="multipart/form-data">
            <div class="mb-3">
                <label for="FirstName" class="form-label">Add First Name</label>
                <input type="text" class="form-control" id="FirstName" name="FirstName" value="@Model.FirstName">
                <span class="text-danger" asp-validation-for="FirstName"></span>
            </div>

            <div class="mb-3">
                <label for="LastName" class="form-label">Add Last Name</label>
                <input type="text" class="form-control" id="LastName" name="LastName" value="@Model.LastName">
                <span class="text-danger" asp-validation-for="LastName"></span>
            </div>

            <div class="mb-3">
                <label for="Bio" class="form-label">Add Bio</label>
                <textarea class="form-control" id="Bio" name="Bio" rows="4">@Model.Bio</textarea>
                <span class="text-danger" asp-validation-for="Bio"></span>
            </div>

            <div class="mb-3">
                <label for="News" class="form-label">Add News</label>
                <textarea class="form-control" id="News" name="News" rows="4">@Model.News</textarea>
                <span class="text-danger" asp-validation-for="News"></span>
            </div>




            <div class="mb-3">
                <label for="Movies" class="form-label">Movie Name</label>
                <select asp-for="Movies" class="form-select" multiple asp-items="@(new SelectList(ViewBag.Movies, "Id", "Name"))">
                </select>
            </div>







            <div class="mb-3">
                <label for="ProfilePicture" class="form-label">Profile Picture</label>
                <input type="file" class="form-control" id="ProfilePicture" name="file" accept="image/*">
                <div class="mt-2">
                    <img id="imagePreview" src="#" alt="Image Preview" style="max-width: 20%; display: none;" />
                </div>
            </div>

            <button type="submit" class="btn btn-secondary">Create</button>
        </form>
    </div>

</div>



@section Scripts {
    <script>
        document.getElementById("ProfilePicture").addEventListener("change", function (event) {
            var file = event.target.files[0];
            if (file) {
                var reader = new FileReader();
                reader.onload = function (e) {
                    var preview = document.getElementById("imagePreview");
                    preview.src = e.target.result;
                    preview.style.display = "block";
                };
                reader.readAsDataURL(file);
            }
        });
    </script>
}